<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PdmSystemHome</title>
    <style>
        body
        {
            text-align: center;
        }
        input
        {
            width: 5%;
            height: 20%;
            font-size: 18px;
        }
        #search_context
        {
            width: 25%;
        }
        #search_button
        {
            width: 5%;
        }
        td,th
        {
            height: 20px;
        }
        table{
            position: relative;
            left: 30%;
        }
        p
        {
            {#border: 200px;#}
            {#border-style: solid;#}
            position: relative;
            display: inline;
        }
    </style>
</head>
<body>
    <select id="u0_input" class="u0_input">
        <option class="u0_input_option" selected value="Part Number">Part Number</option>
        <option class="u0_input_option" value="Description">Description</option>
    </select>
    <input type="text" name="search_context" id="search_context">
    <input type="button" name="search_button" id="search_button" value="搜索">
    <div>
        <div>
            <p>Kind
            <select id="u44_input" class="u44_input">
                <option class="u44_input_option" value="电阻">电阻</option>
                <option class="u44_input_option" value="电容">电容</option>
                <option class="u44_input_option" value="电感">电感</option>
                <option class="u44_input_option" value="继电器">继电器</option>
                <option class="u44_input_option" value="网口插接件">网口插接件</option>
                <option class="u44_input_option" value="USB口">USB口</option>
                <option class="u44_input_option" value="ESD器件">ESD器件</option>
                <option class="u44_input_option" value="CPU">CPU</option>
                <option class="u44_input_option" value="DDR">DDR</option>
                <option class="u44_input_option" value="Flash">Flash</option>
                <option class="u44_input_option" value="WIFI">WIFI</option>
            </select>
        </p>
        <p>Value
            <input type="text" name="value_min">~
            <input type="text" name="value_max">
        </p>
        <p>Voltage Rating
            <input type="text" name="value_min">~
            <input type="text" name="value_max">
        </p>
        </div>
        <div>
            <p>Tolerance
            <input type="text" name="value_min">~
            <input type="text" name="value_max">
        </p>
        <p>Height
            <input type="text" name="value_min">~
            <input type="text" name="value_max">
        </p>
        <p>PACK_TYP
            <input type="text" name="value_min">
        </p>
        </div>

        <p>厂商
            <input type="text" name="Producter">
            <input type="button" name="search_button" style="position: relative; left: 10%;" value="搜索">
        </p>
    </div>
    <table border="1">
        <tr>
            <th>Part Number</th>
            <th>Description</th>
            <th>Value</th>
            <th>Tolerance</th>
            <th>PACK_TYP</th>
            <th>Voltage Rating</th>
            <th>Height</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
         <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
         <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
         <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</body>
</html>